<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net451" />
  <package id="KindOfMagic" version="1.2.5" targetFramework="net451" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net451" />
  <package id="XamlActions" version="2.6.5514.108" targetFramework="net451" />
</packages>